stages:
  - auth
  - terraform

variables:
  AWS_REGION: ap-south-1

aws_oidc_auth:
  stage: auth

  image:
    name: amazon/aws-cli:2.15.0
    entrypoint: [""]

  id_tokens:
    AWS_ID_TOKEN:
      aud: sts.amazonaws.com

  script:
    - echo "Starting AWS OIDC authentication"
    - echo "AWS_ROLE_ARN=$AWS_ROLE_ARN"
    - echo "OIDC token length=${#AWS_ID_TOKEN}"

    - yum install -y jq

    - aws sts assume-role-with-web-identity --role-arn "$AWS_ROLE_ARN" --role-session-name gitlab-oidc-session --web-identity-token "$AWS_ID_TOKEN" --duration-seconds 3600 > credentials.json

    - export AWS_ACCESS_KEY_ID=$(jq -r '.Credentials.AccessKeyId' credentials.json)
    - export AWS_SECRET_ACCESS_KEY=$(jq -r '.Credentials.SecretAccessKey' credentials.json)
    - export AWS_SESSION_TOKEN=$(jq -r '.Credentials.SessionToken' credentials.json)

    - aws sts get-caller-identity

  artifacts:
    reports:
      dotenv: credentials.env
    when: always

  rules:
    - if: '$CI_COMMIT_BRANCH == "main"'


terraform_plan:
  stage: terraform

  image:
    name: hashicorp/terraform:1.6
    entrypoint: [""]

  needs:
    - job: aws_oidc_auth

  script:
    - terraform --version
    - terraform init
    - terraform plan

  rules:
    - if: '$CI_COMMIT_BRANCH == "main"'
